<div class="jumbotron">
  <h1>Smart feed reader</h1>
  <p>
    Fringecup is a good ol' feed reader that can select the most interesting items for you from your subscribed feeds. It does this by learning your reading habits as you use the reader. 
  </p>
  <p>
    <a href="/home/login"><img src="/img/sign-in-with-twitter-gray.png" alt="login" /></a>
  </p>
</div>
<div class="row">
<div class="col-md-3">
  <div class="well well-sm">
    <h2 style="color: #00BCF2;">Continuous Integration</h2>
    <!--<h2 class="text-danger">Continuous Integration</h2>-->
    <p>"Check-in early, check-in often" is easier said than done. Get practical advice and tools on how to do this. We'll share best practices for code branching, setting test environments, and using build management systems like <span style="color: #00BCF2;">Jenkins</span> to their fullest potential.</p>
  </div>
</div><!--/span-->
<div class="col-md-3">
  <div class="well well-sm">
    <h2 style="color: #00BCF2;">Continuous Deployment</h2>
    <p>
      No matter which tool you use - <span style="color: #00BCF2;">Chef, Puppet, SaltStack, Ansible,</span> or good old scripts - the underlying principles of rapid but disciplined deployment are the same. We'll work with your toolset to set up a streamlined deployment process.
    </p>        
  </div>
</div><!--/span-->
<div class="col-md-3">
  <div class="well well-sm">
    <h2 style="color: #00BCF2;">Monitoring &amp; Alerting</h2>
    <p>
      Not only will we set up the most appropriate montirong tool for your needs - be it <span  style="color: #00BCF2;">NewRelic, Nagois, or Splunk</span>; we'll also help you set up the right kind of alerts. Last but not least, we'll help you analyze the moutain of data that these tools generate.
    </p>        
  </div>
</div><!--/span-->
<div class="col-md-3">
  <div class="well well-sm">
    <h2 style="color: #00BCF2;">Incident Management</h2>    
    <p>
      Dealing with service outages is an inevitable part of running a SaaS product. We'll help you determine the right severities for incidents, set up processes to respond to incidents in a timely manner, and set up tools like <span  style="color: #00BCF2;">Jira</span> to track incidents.
    </p>        
  </div>
</div><!--/span-->